<!-- BEGIN TEMPLATE gtag.html -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.tracking_id }}');
</script>
<!-- track clicked links -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Function to track link clicks
    function trackLinkClick(event) {
        // Check if Google Analytics is loaded
        if (typeof ga === 'function') {
            // Send a pageview event to Google Analytics
            ga('send', 'event', {
                eventCategory: 'Outbound Link',
                eventAction: 'click',
                eventLabel: event.target.href,
                transport: 'beacon'
            });
        }
    }
    
    // Add click event listener to all <a> elements
    var links = document.querySelectorAll('a');
    links.forEach(function(link) {
        link.addEventListener('click', trackLinkClick);
    });
});
</script>
<!-- END TEMPLATE gtag.html -->