{% if site.data.message.enabled %}
<script>var togglemessage = function() {
    let e = document.getElementById("site-message");
    if (e.style.display === "block") {
        e.style.display = "none";
    } else if (e.style.display === "none") {
        e.style.display = "block";
    } else {
        throw new Error("what the heck, bro? (message state not block nor none.) \\._./")
    }
} 
</script>
<div id="site-message" style="display: block; cursor: crosshair;" onclick="togglemessage();">
    {% if site.data.message.type == "info" %}
    <p class="message-info">
    {% elsif site.data.message.type == "warn" %}
    <p class="message-warn">
    {% else %}
    <p class="message-generic">
    {% endif %}
        {{ site.data.message.message }}
    </p>
</div>
{% endif %}