<!-- BEGIN TEMPLATE metadata.html -->
{% if page.title %}
    <!-- Using page.title as it is present -->
    <title>{{ page.title }} &bull; {{ site.title }}</title>
{% else %}
    <!-- page.title does not exist; Falling back to site.title -->
    <title>{{ site.title }}</title>
{% endif %}

{% if site.favicon %}
    <!-- Using site.favicon as it is defined -->
    <link rel="icon" type="image/ico" href="{{ site.favicon_location }}">
    <link rel="shortcut-icon" type="image/ico" href="{{ site.favicon_location }}">
{% endif %}
{% if site.twitter_username %}
    <!-- Using site.twitter_username as it is defined -->
    <link rel="author" href="https://twitter.com/{{ site.twitter_username }}">
{% endif %}
{% seo title=false %}
<!-- END TEMPLATE metadata.html -->